{% load static %}
<section class="container container__brands">
    <div class="container__brand">
        <img src="{% static 'images/brands/1.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/2.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/3.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/4.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/5.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/6.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/7.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/8.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/9.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/10.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/11.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/12.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/13.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/14.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/15.png' %}" alt class="container__brand_img">
    </div>
    <div class="container__brand">
        <img src="{% static 'images/brands/16.png' %}" alt class="container__brand_img">
    </div>
</section>