{% load static %}
<section class="container container__category">
    <p class="text__title text-center">Наш ассортимент</p>

    <div class="category__items">
        {% for category in categories %}
        <div class="category__item">
            {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.title }}" class="category__item_image">
            {% else %}
            <img src="{% static 'images/coming_soon_photo.jpg' %}" alt="..." class="category__item_image">
            {% endif %}
            <a href="products/?category={{ category.slug }}" class="category__item_link">{{ category.title }}</a>
        </div>
        {% endfor %}
    </div>
</section>