{% load static %}
<section class="container container__infos">
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/1.png' %}" alt class="info__image">
        </div>
        <p class="info__title">100% оригиналы</p>
        <p class="info__text">Мы работаем со всеми представительствами
            брендов напрямую, а по некоторым из них являемся
            эксклюзивным оптовым каналом дистрибуции,
            что дает нам возможность предлагать лучшие цены и
            условия.</p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/2.png' %}" alt class="info__image">
        </div>
        <p class="info__title">100% качество</p>
        <p class="info__text">У нас оригинальный и сертифицированный
            товар, что подтверждено официальными документами</p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/3.png' %}" alt class="info__image">
        </div>
        <p class="info__title">Большой ассортимент</p>
        <p class="info__text">Довольно широкий ассортимент товарова, вы
            обязательно сможете подобрать именно то, что нужно. У нас
            более 3000 категорий</p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/4.png' %}" alt class="info__image">
        </div>
        <p class="info__title">Доставка</p>
        <p class="info__text">Моменталтная отгрузка товаров из
            Екатеринбурга в любую точку России любой крупной
            транспортной компанией. Наш склад находится в паре км от
            любой крупной ТК. Отгрузка товара в течение 1 дня. </p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/5.png' %}" alt class="info__image">
        </div>
        <p class="info__title">Нам можно доверять</p>
        <p class="info__text">Наша компания более 10 лет занимается
            продажей спортивных товаров. За это время мы накопили
            огромный опыт в оптовом направлении. У нас продуманы даже
            самые мелкие детали.</p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/6.png' %}" alt class="info__image">
        </div>
        <p class="info__title">У нас нет очередей</p>
        <p class="info__text">После оформления заказа, вы не попадете в
            очередь на выстпвление счета, в очередь на сборку заказа или
            в очередь на отгрузку. Мы осуществялем этот сервис
            моментально</p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/7.png' %}" alt class="info__image">
        </div>
        <p class="info__title">Оперативная поддержка</p>
        <p class="info__text">Если у вас возникла проблема, мы
            обязательно ее решим на раз-два-три. Мы работаем на все
            100%, нам нечего бояться.</p>
    </div>
    <div class="container__info_block">
        <div class="info__block_img">
            <img src="{% static 'images/infos/8.png' %}" alt class="info__image">
        </div>
        <p class="info__title">Заказы</p>
        <p class="info__text">Минимальная сумма заказа – всего 20 000
            руб. Мы открыты для сотрудничества с малыми, средними и
            крупным бизнесом.</p>
    </div>
</section>