{% if products %}
<nav aria-label="Навигация по страницам">
    <ul class="pagination justify-content-center mt-4">
        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor"
                    class="bi bi-arrow-left-circle"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </a>
        </li>
        {% endif %}
        {% for number in products.paginator.page_range %}
        {% if category_query is not None %}
        <li class="page-item{% if number == products.number %} active{% endif %}" aria-current="page">
            <a class="page-link" href="?category={{ category_query }}&page={{ number }}">{{ number }}</a>
        </li>
        {% else %}
        <li class="page-item{% if number == products.number %} active{% endif %}" aria-current="page">
            <a class="page-link" href="?page={{ number }}">{{ number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}