{% load static %}
<footer class="container-fluid" style="background-color: #153E84;">
    <section class="container container__footer">
        <div class="container__footer_left">
            <a href="{% url 'home_path' %}" class="footer__left_title text-decoration-none"
                style="font-family: 'Orbitron', sans-serif;">GreaTime</a>
            <p class="footer__left_text">© 2020 “Gream Time” </p>
            <p class="footer__left_text">Политика конфиденциальности</p>
            <div class="footer__social_media">
                <img src="{% static 'images/footer/instagram.png' %}" alt
                    class="footer__social_media_img">
                <img src="{% static 'images/footer/facebook.png' %}" alt
                    class="footer__social_media_img">
                <img src="{% static 'images/footer/vk.png' %}" alt
                    class="footer__social_media_img">
                <img src="{% static 'images/footer/whatsapp.png' %}" alt
                    class="footer__social_media_img">
                <img src="{% static 'images/footer/telegram.png' %}" alt
                    class="footer__social_media_img">
            </div>
        </div>
        <div class="container__footer_right">
            <div class="footer__right_item">
                <p class="footer__right_item_title">Информация</p>
                <a class="footer__right_item_text" href>О компании</a>
                <a class="footer__right_item_text" href>Маркетинговые
                    материалы</a>
                <a class="footer__right_item_text" href>Контакты</a>
                <a class="footer__right_item_text" href
                    style="margin-bottom: 16px;">Карта сайта</a>
                <p class="footer__right_item_title">Контакты</p>
                <p class="footer__right_item_text">+7 (904)
                    766-18-43</p>
                <p class="footer__right_item_text">+7 (912)
                    213-70-82</p>
                <p class="footer__right_item_text"
                    style="font-size: 13px;">Екатеринбург, ул Волховская
                    20</p>
            </div>
            <div class="footer__right_item">
                <p class="footer__right_item_title">Розничным
                    покупателям</p>
                <a class="footer__right_item_text" href>Как сделать
                    заказ</a>
                <a class="footer__right_item_text" href>Доставка и
                    оплата</a>
                <a class="footer__right_item_text" href>Возврат</a>
                <a class="footer__right_item_text" href>Вопрос-ответ</a>
                <p class="footer__right_item_title">Производителям</p>
            </div>
            <div class="footer__right_item">
                <p class="footer__right_item_title">Оптовым
                    покупателям</p>
                <a class="footer__right_item_text" href>Как сделать
                    заказ</a>
                <a class="footer__right_item_text" href>Доставка и
                    оплата</a>
                <a class="footer__right_item_text" href>Возврат</a>
                <a class="footer__right_item_text" href>Вопрос-ответ</a>
            </div>
            <div class="footer__right_item" style="width: 260px;">
                <p class="footer__right_item_text mb-3">Вы можете
                    оформить заказ по телефону или получить ответы на
                    любые интересующие вас вопросы.</p>
                <p class="footer__right_item_text mb-0">Есть вопрос?
                    Напишите нам письмо или воспользуйтесь формой <p
                        class="text-warning">обратной связи</p></p>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__end">
            <p class="footer__end_text">Интернет-магазин «GreaTime» -
                спортивные товары по всей России</p>
            <p class="footer__end_text">Инн: 667027205771 ОГРН:
                310667022200016</p>
            <img src="{% static 'images/footer/mastercard.png' %}" alt
                class="footer__end_img">
            <img src="{% static 'images/footer/visa.png' %}" alt
                class="footer__end_img">
            <img src="{% static 'images/footer/mir.png' %}" alt
                class="footer__end_img">
        </div>
    </section>
</footer>