{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}
<form method='post' class='my-4'>
    {% csrf_token %}
    {{ form.as_p }} 

    {% comment %} {% include "components/_form-errors.html" %} {% endcomment %}

    <button type="submit" class="btn btn-primary">Зарегистроваться</button>
    <a href="{% url 'authorization_path' %}" class="btn btn-primary">Авторизация</a>
    <a href="{% url 'home_path' %}" class="btn btn-primary">Вернуться на главную страницу</a>
</form>
{% endblock content %}